-----BEGIN CERTIFICATE-----
MIIGXDCCBESgAwIBAgIUdK4Lm6gZwX2lV/b0OlwDqn/wYuMwDQYJKoZIhvcNAQEL
BQAwTjELMAkGA1UEBhMCTkwxFTATBgNVBAgMDFp1aWQtSG9sbGFuZDEVMBMGA1UE
BwwMTWlkZGVsaGFybmlzMREwDwYDVQQKDAhPUE5zZW5zZTAeFw0yMDA1MTIwOTQw
MzFaFw0yMjA4MTUwOTQwMzFaME4xCzAJBgNVBAYTAk5MMRUwEwYDVQQIDAxadWlk
LUhvbGxhbmQxFTATBgNVBAcMDE1pZGRlbGhhcm5pczERMA8GA1UECgwIT1BOc2Vu
c2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDHBhKssZMSjeY0nqgy
lynwoJ41NA0BLkfdheHo3WNfi8WABR6SKjLrk1x5Ln+d+2ficsUJL5LI2yByqzfI
Qn5qUvvpGwzkkfo/R1cgv+1CHVqF4oGrpNc8msXKud/u6Kc/qtrfoB8vbEGZTbzC
+c/y6qsdR/1NMrfPy7rLNgHR0GhEn+HCmmqGbpED4nJMJl4LtBi7V5thTq2RA696
xs2MkQ/CAth48qCkJPQj6gP0XmMYirYDJ0UVSPgD695tzgy5T233dth6FSG3J+vE
n6f/TTRTREgfMYB4rI22PHd4o5N4Fv6HAFHrnGVKE2sJXsu21ILxA8XHYRG7Uxvl
gQYknlPRuT0ulYpEaL1Ap8jKdgeOarV3ADQoPNs6m/iDbzxOyky/BcgUOh+Gwn7j
+5N3gYTrf3S2DV0Pjj+DkKpavlPQvA7VMDJ+lcS/fbmtkcycnk9xcWP8M12G2BNB
SzCgA/u4rWt8qh0KYPFOVkXimYG1Cex0ChaM584ZroRyKK0YVpjAhQL7Va2tD7uE
a7WtVZnauSRBP9np/QxTLDFpJcb5JewVXdL68YpzAGNklFumRZOWuPtw3NrtIAVr
RotkykTdTuNm5/+Kh/jBIm2tav/VPNli5VrVcO0eBNRrcroUSxju/UtViOqio5BG
A9/ZJf6ENZAutD0xcoiAz//37QIDAQABo4IBMDCCASwwCQYDVR0TBAIwADARBglg
hkgBhvhCAQEEBAMCBkAwMwYJYIZIAYb4QgENBCYWJE9wZW5TU0wgR2VuZXJhdGVk
IFNlcnZlciBDZXJ0aWZpY2F0ZTAdBgNVHQ4EFgQUQO46rvbYiyjDA9axiIgjPZum
0uYwgYsGA1UdIwSBgzCBgIAUQO46rvbYiyjDA9axiIgjPZum0uahUqRQME4xCzAJ
BgNVBAYTAk5MMRUwEwYDVQQIDAxadWlkLUhvbGxhbmQxFTATBgNVBAcMDE1pZGRl
bGhhcm5pczERMA8GA1UECgwIT1BOc2Vuc2WCFHSuC5uoGcF9pVf29DpcA6p/8GLj
MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQgCAjALBgNVHQ8EBAMCBaAwDQYJ
KoZIhvcNAQELBQADggIBAD+Fj0N9Dm48Z3kq8EXBM8eQmpW41YQ11SJtdsvV3H0M
0kE8/ZAiUAUT401nm6E+y0FjCH4PD/sn1TJbBX0igFmBQYBsiqvX+n5sret76r+6
1A+CbDqH4x6O5cA3Q31iEkucgAQhFjKH8556FBDgKFiH7IVJRUazI3yTJP1829mO
+BO7IGDMamr+IimPMl9YOqwigpOxbWjAxiMCrt4bYThP4BbaUiMFnE6WDkOjgtsY
84bPrNzLechzV3OkihUb/xF62oNXkQnsj24GfshgiHR4HlvkGNW8Nv2vRfaBhc5J
Il8m43hZqyMYNnB3oKvw3IWSfS88J5arJEJJjhB5bC8d5G6ac3m67Pbq0QdXtyET
G7O3O5x1qCy5MhivJ4RcBxeIAsyU/9BRZv1M29gAu0yY38+lpYVCngFc+YJkbvsV
lxZtV6xvPsPbj5zXjOX9zd+mVx+BIYmxWPjl7uZFBiF0uVvahN9YhNUz6fXQg9a9
3nrhHT1aD0Ptf5GeKVL7IwIh0tFhBeqoXR8uh+CbC75nfshtt6tGP+61pSbixJx8
xnE+TdPk/eGjkQyPPemzjC7RND7eIzPjSTF6+qn1FR1bC6IZIrvhlNiY4CtaEPg2
ZnCxTfD0y/WfZMC/3FcFDlAkLT9E+9NaJaCKVtVMv9YjSDhHpYGofNpibwPiaZLb
-----END CERTIFICATE-----
